# SPDX-FileCopyrightText: 2020 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
#
# SPDX-License-Identifier: CC0-1.0

[Unit]
Description=SnergeBot

[Service]
ExecStart=/usr/bin/python3 bot.py
User=eorzea
Group=daemon
WorkingDirectory=/srv/snerge-bot

[Install]
WantedBy=multi-user.target

