# SPDX-FileCopyrightText: 2020 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
#
# SPDX-License-Identifier: CC0-1.0

[Unit]
Description=SnergeBot

[Service]
ExecStart=/srv/snerge-bot/venv/bin/python3 -m snerge
User=eorzea
Group=daemon
WorkingDirectory=/srv/snerge-bot
Environment="PYTHONPATH=/srv/snerge-bot/src"

[Install]
WantedBy=multi-user.target

